body{font-family: Bangers, Arial;}
h1 {text-align: center; font-size: 3em; margin-bottom: 10px;}
.search {margin: 0 auto; min-width: 200px; max-width: 500px }
input {width: 100%; font-size: 1em; padding: 3px;}